/* .loginsignup{
    width: 100%;
    height: 80vh;
    background: linear-gradient(180deg, #aadefc, white 60%);
    padding-top: 100px;
}
.loginsignup-container{
    width: 580px;
    height: 400px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}
.loginsignup-container h1{
    margin: 20px 0px;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.loginsignup-fields input{
    height: 32px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.loginsignup-container button{
    width: 300px;
    height: 50px;
    color: white;
    background: #409bd0;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size:18px ;
    font-weight: 500;
}
.loginsignup-login span{
    color: #409bd0;
    font-weight: 600;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 300;
} */

.loginsignup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.loginsignup-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.loginsignup-form {
    display: flex;
    flex-direction: column;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
}

.loginsignup-fields input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.loginsup-agree {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.loginsup-agree input {
    margin-right: 10px;
}

.loginsup-agree label {
    font-size: 14px;
}

button {
    background-color: #45b0ee;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 9px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

button:hover {
    background-color: #2dadf7;
}

.loginsignup-toggle {
    text-align: center;
    margin-top: 15px;
}

.loginsignup-toggle span {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 900;

}

.loginsignup-toggle span:hover {
    color: #0056b3;
}
