.extra{
    height: 70vh;
    background: linear-gradient(180deg, #f7f9fa, white 60%);
    display: flex;
}
.extra-left{
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height:1.1;
}
.extra-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 400;
}
.extra-left p{
    color: #409bd0;;
    font-size: 50px;
    font-weight: 700;
}
.extra-hand-icon{
    display:flex;
    align-items: center;
    gap: 20px;
}
.extra-latest-btn{
    display: flex;
    align-items: center;
    gap: 20px;
}
.extra-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-img{
    width: 500px;
}

